# Python cache files
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Flutter / Dart cache files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/.symlinks/
ios/Pods/
ios/Flutter/.flutter-plugins
ios/Flutter/.flutter-plugins-dependencies
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Operating system files
.DS_Store
Thumbs.db
